<div class="min-h-screen flex justify-center items-center bg-gradient-to-r from-blue-50 to-blue-100">
  <div class="w-full max-w-md bg-white rounded-lg px-8 py-12 shadow-lg flex flex-col items-center"> 
    <h1 class="text-center text-2xl font-medium mb-8">Welcome Back Employee!</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-6">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
        <input type="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring-blue-500 focus:ring-opacity-50"
               id="email" placeholder="youremail@example.com"
               formControlName="email" required>
      </div>

      <div class="mb-6">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
        <input type="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring-blue-500 focus:ring-opacity-50"
               id="password" placeholder="Password"
               formControlName="password" required>
        <a href="#" class="text-blue-500 text-xs float-right mt-1">Forgot Password?</a>
      </div>

      <div class="flex items-center mb-4">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-700">
          Login
        </button>
      </div>

      <div class="text-center text-gray-500 text-sm">
        Sign up as Employee <a href="#" class="text-blue-500 font-bold">Contact Admin</a>
      </div>
    </form>
  </div>
</div>
