<header class="flex items-center justify-between px-4 py-3 bg-gradient-to-r from-blue-600 to-blue-400 text-white shadow-md">
  <img src="../../../favicon.ico" alt="Angular Logo" class="w-10 h-10 mr-4">
  <div class="text-3xl">Ticketing System</div>
  <div>
    <button *ngIf="!isLoggedIn()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="login()">{{user}} Login</button>
    <button *ngIf="isLoggedIn()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
      (click)="logout()">Logout</button>
  </div>
</header>
