
    <div *ngIf="loading">
      <app-loader></app-loader>
    </div>
    <div *ngIf="!loading" class="flex flex-col justify-between items-center mt-32 mb-64 w-auto mx-28">
        <div class="flex justify-center items-center flex-row w-full mb-10"> <!-- Added px-4 for padding -->
          <div class="flex justify-start items-center border-gray-200 border-2 rounded-md px-4 py-2 mr-4"> <!-- Adjusted to start -->
            <select [(ngModel)]="selectedDepartment" class="text-sm w-full px-2 py-1 border rounded-md focus:outline-none focus:ring-blue-500 bg-blue-200 hover:bg-blue-100 hover:cursor-pointer">
              <option value="all">All</option>
              <option value="hr">HR</option>
              <option value="it">IT</option>
              <option value="finance">Finance</option>
            </select> 
            <button (click)="filterByDepartment()" class="text-sm text-white bg-blue-600 px-3 py-1 rounded-md hover:bg-blue-800 focus:outline-none ml-2">Filter</button> <!-- Added ml-2 for margin -->
          </div>
          <div class="flex justify-end items-center border-gray-200 border-2 rounded-md px-4 py-2"> <!-- Adjusted to end -->
            <button (click)="deleteAll()" class="text-sm text-white bg-red-500 px-3 py-1 rounded-md hover:bg-red-800 focus:outline-none">Delete All</button>
          </div>
        </div>
        
        <app-table [data]="data"></app-table>
      </div>
      